<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="vtigerFinalScripts.CreateContactWithOrgTest" />
			<class name="vtigerFinalScripts.CreateEventTest" />
			<class name="vtigerFinalScripts.CreateLeadTest" />
			<class name="vtigerFinalScripts.DeleteLeadTest" />
			<class name="vtigerFinalScripts.CreateOrganizationTest" />
			<class name="vtigerFinalScripts.CreateOrgWithTypeAndIndustryTest" />
			<class name="vtigerFinalScripts.CreateAndDuplicateLeadTest" />
			<class name="vtigerFinalScripts.CreateContactTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
